layout python3

# SETUP arm-none-eabi toolchain

mkdir -p .direnv/bin

for tool in objdump gcc gdb as nm ar ranlib ld; do
    target=$(command -v arm-none-eabi-$tool)
    if [ -x "$target" ]; then
        ln -sf "$target" .direnv/bin/$tool
    fi
done

export PATH=$PWD/.direnv/bin:$PATH

if [ -f "$PWD/build/astrayos/astrayos.elf" ]; then
  export ASTRAYOS="$PWD/build/astrayos/astrayos.elf"
else
  unset ASTRAYOS
fi
