layout python3

# SETUP arm-none-eabi toolchain

mkdir -p .direnv/bin

for tool in objdump gcc gdb as nm ar ranlib ld; do
    target=$(command -v arm-none-eabi-$tool)
    if [ -x "$target" ]; then
        ln -sf "$target" .direnv/bin/$tool
    fi
done

export PATH=$PWD/.direnv/bin:$PATH
